

:root{
    background: url("./assets/cover.jpeg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 10px;
}
*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color:#333;
}
h1,h2,h3,h4{
    margin-bottom: 1rem;
    color:#56a5eb;
}
h1{
    font-size: 5.4rem;
    color:#56a5eb;
    margin-bottom: 5rem;
}
h1 > span{
    font-size: 2.4rem;
    font-weight: 500;
}
h2{
    font-size:4.2rem;
    margin-bottom: 4rem;
    font-weight: 700;
    color:#56a5eb;
}
h3{
    font-size: 2.8rem;
    font-weight: 500;
    margin-bottom: 1rem;
    border-bottom: 1px dashed #56a5eb;
}
h4{
    font-size: 2.5rem;
    margin-top: 1.8rem;
    color:#dfdfdf;
    font-weight: normal;
    font-family: 'Dancing Script', cursive;
}

/* Basic pre-defined utilities */

.container{
    width: 100vw;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    background:rgba(7, 11, 14, 0.7);
    padding: 2rem;
    transition: background-color 0.5s;
}
.container > *{
    width: 100%;
}
.flex-column{
    display:flex;
    flex-direction: column;
}
.flex-center{
    justify-content: center;
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.text-center{
    text-align: center;
}
.hidden{
    display:none;
}
/* Buttons basic styles */
.btn{
    font-size: 1.8rem;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    border: 0.1rem solid #56a5eb;
    margin-bottom: 1rem;
    text-decoration: none;
    color:#56a5eb;
    background:rgba(43, 88, 110, 0.6);
    transition: color,border 1s;
}
.btn:hover{
    cursor: pointer;
    box-shadow: 0 4px 14px 0 rgba(86, 185, 235, 0.6);
    transform: translateY(-1px);
    transition: transform 0.15s;
}
.btn[disabled]:hover{
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}
.btn[disabled]{
    color:gray;
    border: 1px solid rgba(43, 88, 110, 0.5);
}

/* End Page */
form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    margin-bottom: 1rem;
    width: 20rem;
    padding: 1.5rem;
    font-size: 1.8rem;
    border:none;
    box-shadow: 0 1px 14px 0 rgba(86, 185, 235, 0.6);
    background: rgba(86, 185, 235, 0.6);
    color:#56a5eb;
}
input:focus{
    background:rgba(43, 88, 110, 0.5);
}
input::placeholder{
    color:#fff;
}

/* Scores List Styles */
#highScoresList{
    list-style: none;
    padding-left: 0;
    margin-bottom: 4rem;
}
.highScore{
    color:#56a5eb;
    font-size: 2.8em;
    margin-bottom: 0.5rem;
    transition: transform 1s;
}
.highScore:hover{
    transform: scale(1.1);
}